
@import url('https://fonts.googleapis.com/css?family=Comfortaa:400,700');

body {
	background-color: blanchedalmond;
	font-family: 'Comfortaa', cursive;
}

.page-header {
	text-align: center;

}

.page-header h1 {
	margin-bottom: 0;
}

.page-header h3 {
	margin-top: 0;
}


.options {
	text-align: center;
	text-decoration: underline;
}

input[type=radio] {
	margin-bottom: 1.2em;
}

.ingredients {
	text-align: center;
}

.ingredients h3 {
	text-decoration: underline;
	margin-bottom: .5em;
}

.ingredients input {
	margin-left: 2em;
}

#btnDiv {
	margin-top: 1.5em;
	text-align: center;
}

#sandwichBtn {
	padding: 1em;
	/*margin: 0 auto;*/
	font-weight: bold;
	font-size: 1.1em;
	background-color: white;
}

#sandwichBtn:hover {
	background-color: lightgreen;
	/*color: white;*/
}

#sandwichOutput {
	background-color: whitesmoke;
	padding: 1em;
	/*margin-top: 1em;*/
	border-radius: 20px;
	width: 80%;
	margin: 1em auto;
	box-shadow: 3px 3px 15px 0px rgba(0,0,0,0.75);
}
/* GENERICS */
.hidden {
	display: none;
}

.greyed-out {
	color: grey;
}

.centered {
	text-align: center;
}








